.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com largura igual */
    gap: 20px; /* Espaço entre os itens */
    margin-bottom: 20px;
}

.form-group label {
    align-self: center;
    font-weight: bold;
    margin-bottom: 0; /* Ajuste para evitar excesso de espaço */
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-top: 10px;
}
